.logo {
    @include link;

    display: inline-block;
    padding: 16px 0;
    font-family: var(--secondary-font), sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
    color: var(--t-accent-color);
    
    // tablet styles
    @media screen and (min-width:768px) {
        padding: 26px 0;
        margin-right: 88px;
    }
        
    // desktop styles
    @media screen and (min-width:1200px) {
        padding: 24px 0;
        margin-right: 93px;
        font-size: 26px;
        line-height: calc(31 / 26);
    }

    &__header--span {
        color: var(--t-logo-black-color); 
    }
    &__footer--span {
        color: var(--t-light-color);
        // padding: 0;
        
        // tablet styles
        @media screen and (min-width:768px) {
        }
            
        // desktop styles
        @media screen and (min-width:1200px) {
            font-size: 26px;
            line-height: calc(31 / 26);
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
        padding: 0;
        // width: 154px;
        // margin-right: auto;
        // margin-left: auto;
        margin-bottom: 20px;
        margin-right: 0px;

        // desktop styles
        @media screen and (min-width:1200px) {
            display: block; 
            margin-left: 0;
        }
    }
}